<ion-header>
  <ion-toolbar>
    <ion-title>Buscar Drinks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-searchbar
  placeholder="Nome do drink ou #ingrediente..."
  [(ngModel)]="termoBusca"
  (keyup.enter)="buscar()">
</ion-searchbar>

  <ion-button expand="block" (click)="buscar()">Buscar</ion-button>

  <p *ngIf="mensagem" class="mensagem">{{ mensagem }}</p>

  <div class="drinks-grid">
    <div
      class="drink-card"
      *ngFor="let drink of drinks"
      (click)="verDetalhes(drink.idDrink)">
      <img [src]="drink.strDrinkThumb" [alt]="drink.strDrink" />
      <div class="card-info">
        <span class="card-nome">{{ drink.strDrink }}</span>
      </div>
    </div>
  </div>

</ion-content>
